<html lang="en">
    <head>
        <title>Display</title>
    </head>
        <div class="one">
            <div class="content" align="left">
                <div class="contentbar">
                    <h1>Profile Details</h1>    </br>
                     {% block content %}
                        <div class="border">
                            <table class="worddark"></br></br>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{  prof[1]  }}</td>
                                </tr>
                                <tr>
                                    <td>ID number:</td>
                                    <td>{{  prof[0]  }}</td>
                                </tr>
                                <tr>
                                    <td>Email ID:</td>
                                    <td>{{  prof[2]  }}</td>
                                </tr>                 
                            </table>
                        </div>
                    {% endblock %}                                          
                </div>
                 
            </div>
        </div>
    </body>
</html>