<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <p>{{message}}</p>
    <h1>Posts</h1>
    {% for post in posts %}
        <div class="post">
            <h2>{{post[1]}}</h2>
            <p>{{post[2]}}</p>
        </div>
    {% endfor %}

    <table>
        <tr>

          <th>Title</th>
          <th>Description</th>
          <th>Professor ID</th>
            <th>Number of volunteers</th>
          <th>Remaining Slots</th>
          <th>Delete</th>
          <th>View applications</th>

        </tr>
        {% for post in posts %}
          <tr>

            <td>{{ post[1] }}</td>
            <td>{{ post[2] }}</td>
            <td><a href="{{ url_for('prof_profile', prof_id=post[3]) }}">{{ post[3] }}</a></td>
            <td>{{ post[5] }}</td>
            <td>{{ post[5]-post[6] }}</td>
            <td><a href="{{ url_for('delete', id=post[0],prof_id=session.id)}}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a></td>
            <td><a href="{{ url_for('view_applications', id=post[0]) }}">View applications</a></td>
          </tr>
        {% endfor %}
      </table>
</body>
</html>