<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications for {{ postname[0] }}</title>
</head>
<body>
    <h1>Applications for {{ postname[0] }}</h1>
    <table>
        <tr>
            <th>Application ID</th>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Status</th>
            <th>Approve</th>
            <th>Reject</th>



        </tr>
        {% for application in applications %}
            <tr>
                <td>{{ application[0] }}</td>
                <td>{{ application[2] }}</td>
                <td>{{ application[3] }}</td>
                <td>{{ application[4] }}</td>
                <td>{{ application[5] }}</td>
                <td><a href="{{ url_for('approve', application_id=application[0], student_id=application[2], post_id=application[1]) }}">Approve</a></td>
                <td><a href="{{ url_for('reject', application_id=application[0], student_id=application[2], post_id=application[1]) }}">Reject</a></td>
            
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>